.profile__edit-btn {
  padding: 0;
  justify-self: start;
  grid-area: edit-btn;
  background-image: url(./../../../images/edit-btn.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

@media all and (max-width: 699px) {
  .profile__edit-btn {
    min-width: 18px;
    min-height: 18px;
  }
}