.page__container {
  background-color: gray;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 880px;
  margin: 45px auto 60px;
  transition: margin ease .5s;
}

@media all and (max-width: 880px) {
  .page__container {
    margin: 28px 0 36px;
    max-width: 100%;
  }
}